@font-face {
  font-family: Inkfree;
  src: url("../fonts/inkfree/inkfree.ttf"); }
@font-face {
  font-family: Inkburrow;
  src: url("../fonts/inkburrow/inkburrow.ttf"); }
/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Inkfree, sans-serif;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.overflow-diff {
  overflow: hidden; }

/* ------------------------------------ */
a {
  font-family: Inkfree;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.5;
  color: #43A906;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }
  a:focus {
    outline: none !important; }
  a:hover {
    text-decoration: none;
    color: #43A906; }

/* ------------------------------------ */
h1, h2, h3, h4 {
  margin: 0px; }

p {
  font-family: Inkfree;
  font-weight: 700;
  text-align: justify;
  font-size: 19px;
  line-height: 1.5;
  color: #222;
  margin: 0px; }

ul, li {
  margin: 0px;
  list-style-type: none; }

/* ------------------------------------ */
input {
  outline: none;
  border: none !important;
  transition: all .4s ease;
  -webkit-transition: all .3s ease;
  /* Safari */ }

input:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0px 2px #43A906;
  -moz-box-shadow: 0 0 0px 2px #43A906;
  -webkit-box-shadow: 0 0 0px 2px #43A906;
  -o-box-shadow: 0 0 0px 2px #43A906;
  -ms-box-shadow: 0 0 0px 2px #43A906; }
  input:focus::-webkit-input-placeholder, input:focus:-moz-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder {
    color: transparent; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
  color: #aaaaaa; }

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent; }
  button:hover {
    cursor: pointer; }

section {
  background-image: url(../images/textures/sackcloth-texture.jpg); }

iframe {
  border: none !important; }

/* ------------ Scrollbar -------------- */
::-webkit-scrollbar {
  width: 8px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #43A906; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #43A906; }

::-webkit-scrollbar-track {
  background: black; }

/* ------------------------------------ */
.container {
  max-width: 1200px; }

.slick-slide {
  outline: none !important; }

/*[ BACK TO TOP ]
///////////////////////////////////////////////////////////
*/
.btn-back-to-top {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #43A906;
  opacity: 1;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 50px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }
  .btn-back-to-top:hover {
    cursor: pointer;
    animation: bounce 0.65s infinite alternate;
    -webkit-animation: bounce 0.65s infinite alternate; }

.symbol-btn-back-to-top {
  font-size: 35px;
  color: white;
  line-height: 1em;
  margin-top: 5px;
  font-family: Inkburrow; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }
@media (max-width: 576px) {
  .btn-back-to-top {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px; }

  .symbol-btn-back-to-top {
    font-size: 28px; } }
/*[ Slick ]
///////////////////////////////////////////////////////////
*/
/*[ Slick1 ]
-----------------------------------------------------------
*/
.wrap-slick1, .wrap-slick2, .wrap-slick3 {
  position: relative; }

.item-slick1, .item-slick2, .item-slick3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.item-slick1 {
  height: 100vh; }

.arrow-slick1, .arrow-slick2, .arrow-slick3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 18px;
  color: white;
  position: absolute;
  background-color: black;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.wrap-slick1:hover .arrow-slick1, .wrap-slick2:hover .arrow-slick2, .wrap-slick3:hover .arrow-slick3 {
  opacity: 0.75; }

.arrow-slick1:hover, .arrow-slick2:hover, .arrow-slick3:hover {
  background-color: #43A906; }

.next-slick1, .next-slick2, .next-slick3 {
  right: 50px;
  left: auto; }

.prev-slick1, .prev-slick2, .prev-slick3 {
  left: 50px;
  right: auto; }

@media (max-width: 576px) {
  .next-slick1 {
    right: 15px; }

  .prev-slick1 {
    left: 15px; } }
/* -----------Slick-Dots-------------- */
.wrap-slick1-dots {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 0; }

.slick1-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .slick1-dots li {
    padding-left: 3px;
    padding-right: 3px; }
    .slick1-dots li button {
      display: block;
      color: transparent;
      background-color: #fff;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid transparent;
      background-clip: padding-box;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .slick1-dots li button:hover {
        border: 3px solid #43A906;
        background-color: #43A906; }
    .slick1-dots li.slick-active button {
      border: 3px solid #43A906;
      background-color: #43A906; }

.item-slick1 {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover; }
  .item-slick1.slide1 {
    background-image: url("../images/1800px/deck.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .item-slick1.slide1 {
        background-image: url("../images/480px/deck.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .item-slick1.slide1 {
        background-image: url("../images/1024px/deck.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .item-slick1.slide1 {
        background-image: url("../images/1024px/deck.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .item-slick1.slide1 {
        background-image: url("../images/1024px/deck.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .item-slick1.slide1 {
        background-image: url("../images/1280px/deck.jpg"); } }
  .item-slick1.slide2 {
    background-image: url("../images/1800px/ambiente.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .item-slick1.slide2 {
        background-image: url("../images/480px/ambiente.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .item-slick1.slide2 {
        background-image: url("../images/1024px/ambiente.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .item-slick1.slide2 {
        background-image: url("../images/1024px/ambiente.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .item-slick1.slide2 {
        background-image: url("../images/1024px/ambiente.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .item-slick1.slide2 {
        background-image: url("../images/1280px/ambiente.jpg"); } }
  .item-slick1.slide3 {
    background-image: url("../images/1800px/planta.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .item-slick1.slide3 {
        background-image: url("../images/480px/planta.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .item-slick1.slide3 {
        background-image: url("../images/1024px/planta.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .item-slick1.slide3 {
        background-image: url("../images/1024px/planta.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .item-slick1.slide3 {
        background-image: url("../images/1024px/planta.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .item-slick1.slide3 {
        background-image: url("../images/1280px/planta.jpg"); } }
  .item-slick1.slide4 {
    background-image: url("../images/1800px/parque.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .item-slick1.slide4 {
        background-image: url("../images/480px/parque.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .item-slick1.slide4 {
        background-image: url("../images/1024px/parque.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .item-slick1.slide4 {
        background-image: url("../images/1024px/parque.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .item-slick1.slide4 {
        background-image: url("../images/1024px/parque.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .item-slick1.slide4 {
        background-image: url("../images/1280px/parque.jpg"); } }

/*[ Sections ]
///////////////////////////////////////////////////////////
*/
.header-intro {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover; }
  .header-intro.rustic {
    background-image: url("../images/1800px/salao.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .header-intro.rustic {
        background-image: url("../images/480px/salao.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .header-intro.rustic {
        background-image: url("../images/1024px/salao.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header-intro.rustic {
        background-image: url("../images/1024px/salao.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .header-intro.rustic {
        background-image: url("../images/1024px/salao.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .header-intro.rustic {
        background-image: url("../images/1280px/salao.jpg"); } }
  .header-intro.meet-us {
    background-image: url("../images/1800px/vale.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .header-intro.meet-us {
        background-image: url("../images/480px/vale.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .header-intro.meet-us {
        background-image: url("../images/1024px/vale.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header-intro.meet-us {
        background-image: url("../images/1024px/vale.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .header-intro.meet-us {
        background-image: url("../images/1024px/vale.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .header-intro.meet-us {
        background-image: url("../images/1280px/vale.jpg"); } }
  .header-intro.the-best {
    background-image: url("../images/1800px/lago.jpg");
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    /* 
    */
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */ }
    @media (min-width: 320px) and (max-width: 480px) {
      .header-intro.the-best {
        background-image: url("../images/480px/lago.jpg"); } }
    @media (min-width: 481px) and (max-width: 767px) {
      .header-intro.the-best {
        background-image: url("../images/1024px/lago.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header-intro.the-best {
        background-image: url("../images/1024px/lago.jpg"); } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .header-intro.the-best {
        background-image: url("../images/1024px/lago.jpg"); } }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .header-intro.the-best {
        background-image: url("../images/1280px/lago.jpg"); } }

/*[ Header ]
///////////////////////////////////////////////////////////
*/
.wrap-menu-header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box; }

.wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center; }

.header-fixed .wrap-menu-header {
  position: fixed;
  height: 90px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); }

/*[ Logo ]
-----------------------------------------------------------
*/
.logo {
  height: 60px; }
  .logo > a {
    display: block;
    height: 100%; }
    .logo > a > img {
      width: auto;
      max-height: 100%;
      vertical-align: middle; }

/*[ Menu ]
-----------------------------------------------------------
*/
.wrap_menu {
  height: 100%; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.main_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main_menu li {
    display: block;
    position: relative; }
  .main_menu > li {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease; }
    .main_menu > li.active_link, .main_menu > li:hover {
      border-bottom: 3px solid #43A906; }
    .main_menu > li > a {
      font-family: Inkburrow;
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      padding: 15px; }

.header-fixed .main_menu > li > a {
  color: #fff; }

.main_menu > li:hover > a {
  text-decoration: none; }

/* ------------------------------------ */

/*[ Social header's links ]
-----------------------------------------------------------
*/
.social a {
  color: #fff;
  font-size: 17px;
  font-weight: 400; }
  .social a:hover {
    color: #43A906; }

@media (max-width: 1200px) {
  .main_menu > li {
    margin-left: 4px;
    margin-right: 4px; }

  .social {
    padding-right: 0px; }

  .logo {
    height: 45px; } }
@media (max-width: 992px) {
  .wrap_menu {
    display: none; }

  .wrap_header {
    height: 100px; } }
/*[ Sidebar ]
///////////////////////////////////////////////////////////
*/
.sidebar {
  position: fixed;
  z-index: 1000;
  width: 390px;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: -100%; }
  .sidebar .social > .social-wrapper {
    text-align: center;
    margin: 15px auto 15px auto; }
  .sidebar .social a {
    font-size: 18px;
    color: white; }
    .sidebar .social a:hover {
      color: #43A906; }
  .sidebar #sidebarHamburger {
    float: right;
    margin-top: 35px;
    margin-right: 14px; }
  .sidebar .active_link a {
    color: #43A906; }

@media (max-width: 576px) {
  .sidebar {
    width: 100%; }
    .sidebar #sidebarHamburger {
      margin-top: 18px; }
    .sidebar ul > li > a {
      font-size: 24px; } }
.show-sidebar {
  right: 0px; }

.overlay-sidebar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: scroll; }

.show-overlay-sidebar {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.65); }

/* ------------------------------------ */

@media (max-width: 576px) {
  .wrap_header {
    height: 80px; } }
/*[ Caption ]
-----------------------------------------------------------
*/
.wrap-content-slide1 .txt0 {
  text-transform: uppercase; }

@media (max-width: 768px) {
  .wrap-content-slide1 .tit1 {
    font-size: 70px; }
  .wrap-content-slide1 .txt0 {
    font-size: 60px; } }
@media (max-width: 576px) {
  .wrap-content-slide1 .tit1 {
    font-size: 43px; }
  .wrap-content-slide1 .txt0 {
    font-size: 40px; } }
/*[ Button1 ]
///////////////////////////////////////////////////////////
*/

/*[ Button3 ]
///////////////////////////////////////////////////////////
*/

/*[ Button2 ]
///////////////////////////////////////////////////////////
*/

/*[ Slide2 ]
///////////////////////////////////////////////////////////
*/
/*[ Slick2 ]
-----------------------------------------------------------
*/
.arrow-slick2 {
  top: 53%; }

@media (max-width: 576px) {
  .next-slick2 {
    right: 15px; }

  .prev-slick2 {
    left: 15px; } }
/* ------------------------------------ */
.wrap-slick2-dots {
  position: absolute;
  width: 100%;
  height: 128px;
  left: 0;
  bottom: 0; }

.slick2-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .slick2-dots li {
    padding-left: 5px;
    padding-right: 5px; }
    .slick2-dots li button {
      display: block;
      color: transparent;
      background-color: #cccccc;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid transparent;
      background-clip: padding-box;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .slick2-dots li button:hover {
        border: 1px solid #43A906;
        background-color: #43A906; }
    .slick2-dots li.slick-active button {
      border: 1px solid #43A906;
      background-color: #43A906; }

/*[ Slide3 ]
///////////////////////////////////////////////////////////
*/
/*[ Slick3 ]
-----------------------------------------------------------
*/
.arrow-slick3 {
  top: 40%; }

@media (max-width: 576px) {
  .next-slick3 {
    right: 15px; }

  .prev-slick3 {
    left: 15px; } }
/* ------------------------------------ */
.wrap-slick3-dots {
  width: 100%;
  height: 128px; }

.slick3-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .slick3-dots li {
    padding-left: 5px;
    padding-right: 5px; }
    .slick3-dots li button {
      display: block;
      color: transparent;
      background-color: #cccccc;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid transparent;
      background-clip: padding-box;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s; }
      .slick3-dots li button:hover {
        border: 1px solid #43A906;
        background-color: #43A906; }
    .slick3-dots li.slick-active button {
      border: 1px solid #43A906;
      background-color: #43A906; }

/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.blo2 {
  border-radius: 10px;
  overflow: hidden; }

/* ------------------------------------ */

@media (max-width: 992px) {
  .blo2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }
@media (max-width: 576px) {
  .blo2 {
    width: 100%; } }
/*[ Sobre ]
///////////////////////////////////////////////////////////
*/
/*[ Video ]
///////////////////////////////////////////////////////////
*/

/*[ Modal video 01 ]
-----------------------------------------------------------
*/
body {
  padding-right: 0px !important; }

.modal {
  padding: 0px !important;
  z-index: 1160;
  overflow-x: hidden;
  overflow-y: auto !important; }

/* ------------------------------------ */

#modal-video-01 {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1250; }
  #modal-video-01 .modal-dialog {
    max-width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; }

.wrap-video-mo-01 {
  width: 854px;
  height: auto;
  position: relative;
  margin: 15px; }

.video-mo-01 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s; }
  .video-mo-01 iframe {
    width: 100%;
    height: 100%; }

.close-mo-video-01 {
  font-size: 50px;
  color: white;
  opacity: 0.6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1250;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0; }
  .close-mo-video-01:hover {
    cursor: pointer;
    opacity: 1; }

/*[ Blog ]
///////////////////////////////////////////////////////////
*/

/*[ Gallery footer ]
///////////////////////////////////////////////////////////
*/

/*[ BG Title Page ]
///////////////////////////////////////////////////////////
*/
.bg-title-page {
  width: 100%;
  min-height: 545px;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover; }

@media (max-width: 576px) {
  .bg-title-page {
    height: 100vh;
    background-position: bottom right; }

  .bg-title-page .tit6 {
    font-size: 60px; } }
/*[ Item mainmenu ]
///////////////////////////////////////////////////////////
*/
/*[ Block3 ]
///////////////////////////////////////////////////////////
*/
@media (max-width: 576px) {
  .text-blo3 {
    width: 100%; }

  .blo3 {
    border-bottom: rgba(34, 34, 34, 0.7) 1px solid; } }
/*[ Gallery ]
///////////////////////////////////////////////////////////
*/

.label-gallery {
  height: 100%;
  text-align: center;
  border-radius: 0px;
  padding: 2px 11px;
  margin: 5px 0;
  border-bottom: 3px solid transparent; }
  .label-gallery:hover {
    border-bottom-color: #43A906; }

.is-actived {
  border-bottom-color: #43A906; }

ul.navigation {
  display: none; }

/* ------------------------------------ */
.grid {
  max-width: 1200px; }

/* reveal grid after images loaded */
.grid.are-images-unloaded {
  opacity: 0; }

.grid__item,
.grid__col-sizer {
  width: 32%; }

.grid__gutter-sizer {
  width: 2%; }

/* hide by default */

.grid__item {
  margin-bottom: 20px;
  float: left; }

.grid__item img {
  display: block;
  max-width: 100%; }

.page-load-status {
  display: none;
  /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777; }

.overlay-grid__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0; }
  .overlay-grid__item:hover {
    opacity: 1; }

.btn-show-gallery {
  font-size: 20px;
  color: #43A906;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex !important;
  background-color: rgba(0, 0, 0, 0.8); }

@media (max-width: 768px) {
  .grid__item {
    width: calc((100% - 110px) / 2); } }
@media (max-width: 576px) {
  .grid__item {
    width: calc((100% - 30px) / 1); } }
/*[ Pagination ]
///////////////////////////////////////////////////////////
*/

/*[ Sidebar2 ]
///////////////////////////////////////////////////////////
*/
/*[ Search sidebar2 ]
-----------------------------------------------------------
*/

/*[ Block4 ]
///////////////////////////////////////////////////////////
*/

.contact-footer {
  border-bottom: 3px solid #222; }

.presentation-footer {
  border-top: 3px solid #222; }

/*[ Pace ]
////////////////////////////////////////////////////////////
*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #43a906;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px; }

.hidden {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
