/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/

.fs-15 {
  font-size: 15px; }

/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

.p-t-3 {
  padding-top: 3px; }

.p-t-5 {
  padding-top: 5px; }

.p-t-6 {
  padding-top: 6px; }

.p-t-7 {
  padding-top: 7px; }

.p-t-20 {
  padding-top: 20px; }

.p-t-22 {
  padding-top: 22px; }

.p-t-25 {
  padding-top: 25px; }

.p-t-30 {
  padding-top: 30px; }

.p-t-35 {
  padding-top: 35px; }

.p-t-60 {
  padding-top: 60px; }

.p-t-70 {
  padding-top: 70px; }

.p-t-90 {
  padding-top: 90px; }

.p-t-135 {
  padding-top: 135px; }

.p-t-150 {
  padding-top: 150px; }

.p-t-160 {
  padding-top: 160px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-b-22 {
  padding-bottom: 22px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-b-50 {
  padding-bottom: 50px; }

.p-b-60 {
  padding-bottom: 60px; }

.p-b-70 {
  padding-bottom: 70px; }

.p-b-80 {
  padding-bottom: 80px; }

.p-b-105 {
  padding-bottom: 105px; }

.p-b-135 {
  padding-bottom: 135px; }

.p-b-158 {
  padding-bottom: 158px; }

.p-b-170 {
  padding-bottom: 170px; }

.p-l-15 {
  padding-left: 15px; }

.p-l-20 {
  padding-left: 20px; }

.p-l-45 {
  padding-left: 45px; }

.p-l-50 {
  padding-left: 50px; }

.p-r-15 {
  padding-right: 15px; }

.p-r-20 {
  padding-right: 20px; }

.p-r-40 {
  padding-right: 40px; }

.p-r-50 {
  padding-right: 50px; }

/*[ MARGIN ]
///////////////////////////////////////////////////////////
*/

.m-t-5 {
  margin-top: 5px; }

.m-t-25 {
  margin-top: 25px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-60 {
  margin-top: 60px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-b-3 {
  margin-bottom: 3px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-13 {
  margin-bottom: 13px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-22 {
  margin-bottom: 22px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-l-18 {
  margin-left: 18px; }

.m-l-23 {
  margin-left: 23px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-28 {
  margin-right: 28px; }

.m-l-r-auto {
  margin-left: auto;
  margin-right: auto; }

/*[ TEXT ]
///////////////////////////////////////////////////////////
*/
/* ------------------------------------ */
.c-white {
  color: white; }

/* ------------------------------------ */

/* ------------------------------------ */
.v-centralized {
  margin: auto 0; }

.t-center {
  text-align: center; }

/* ------------------------------------ */

/*[ SHAPE ]
///////////////////////////////////////////////////////////
*/
/*[ Display ]
-----------------------------------------------------------
*/

.dis-inline-block {
  display: inline-block; }

.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

/*[ Position ]
-----------------------------------------------------------
*/

/*[ float ]
-----------------------------------------------------------
*/

/*[ Width & Height ]
-----------------------------------------------------------
*/
.sizefull {
  width: 100%;
  height: 100%; }

.w-full {
  width: 100%; }

.h-full {
  height: 100%; }

/*[ Top Bottom Left Right ]
-----------------------------------------------------------
*/

/*[ Opacity ]
-----------------------------------------------------------
*/
.op-0-0 {
  opacity: 0; }

/*[  ]
-----------------------------------------------------------
*/

.of-hidden {
  overflow: hidden; }

/*[ Wrap Picture ]
-----------------------------------------------------------
*/
.wrap-pic-w img {
  width: 100%; }

/*[  ]
-----------------------------------------------------------
*/

.visible-false {
  visibility: hidden; }

.visible-true {
  visibility: visible; }

/*[ Transition ]
-----------------------------------------------------------
*/

.trans-0-3 {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.trans-0-4 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

/*[ Layout ]
///////////////////////////////////////////////////////////
*/
/*[ Flex ]
-----------------------------------------------------------
*/
/* ------------------------------------ */
.flex-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */

/* ------------------------------------ */
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

.flex-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center; }

.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center; }

/* ------------------------------------ */
.flex-col-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.flex-col-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center; }

.flex-col-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center; }

/* ------------------------------------ */

/*[ Absolute ]
-----------------------------------------------------------
*/

/*[ Title ]
-----------------------------------------------------------
*/
.tit1 {
  font-family: Inkburrow;
  font-size: 90px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 10px; }

.tit2 {
  font-family: Inkburrow;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  color: #43A906;
  text-transform: uppercase; }

.tit3 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 4px; }

.tit4 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px; }

.tit6 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px; }

.tit8 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 11px; }

@media (max-width: 576px) {
  .tit2 {
    font-size: 38px; }

  .tit3 {
    font-size: 37px; }

  .tit4 {
    font-size: 48px; } }
/*[ Text ]
-----------------------------------------------------------
*/
.txt0 {
  font-family: Inkburrow;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.1;
  color: #fff; }

.txt1 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  color: #222;
  text-transform: uppercase; }

.txt5 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 26px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px; }

.txt12 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.7;
  letter-spacing: 3px; }

.txt14 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 38px;
  color: #222;
  line-height: 1.7; }

.txt17 {
  font-family: Noto +Sans;
  font-size: 14px;
  line-height: 1.7;
  color: #999999; }

.txt21 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 22px;
  color: #222222;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px; }

.txt21b {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 25px;
  color: #222222;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px; }

.txt23 {
  font-family: Inkfree;
  font-weight: 700;
  font-size: 15px;
  color: #222;
  line-height: 1.7;
  letter-spacing: 1.2px; }

.txt37 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 28px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 3px; }

.txt38 {
  font-family: Inkburrow;
  font-weight: 700;
  font-size: 25px;
  color: #222;
  line-height: 1.7;
  letter-spacing: 1.5px; }

@media (max-width: 576px) {
  .txt14 {
    font-size: 30px; } }
/*[ Color ]
-----------------------------------------------------------
*/

.color0-hov:hover {
  color: #43A906; }

/*=========================================================
SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
=========================================================*/
/*[ Margin ]
-----------------------------------------------------------
*/

/*[ Size ]
-----------------------------------------------------------
*/

.size3 {
  max-width: 513px; }

.size19 {
  width: 20px; }

.size20 {
  width: 160px;
  height: 120px; }

@media (max-width: 576px) {
  .size20 {
    width: 100%;
    height: 230px; } }
.size21 {
  width: calc(100% - 160px - 28px);
  min-height: 120px; }

.size32 {
  max-width: 868px; }

.size38 {
  max-width: 190px; }

/*[ Background Color ]
-----------------------------------------------------------
*/

.bg2 {
  background-color: #111111; }

.bg0-hov:hover {
  background-color: #43A906; }

/*[ Border ]
-----------------------------------------------------------
*/

.bo8 {
  border: 5px solid #222; }

/* ------------------------------------ */

.bo-rad-10 {
  border-radius: 10px; }

/*=========================================================
EFFECT   EFFECT   EFFECT   EFFECT   EFFECT   EFFECT  EFFECT
=========================================================*/
/*[ wrap-cir-pic ]
-----------------------------------------------------------
*/

/*[ Hover img zoom]
-----------------------------------------------------------
*/
.hov-img-zoom {
  display: block;
  overflow: hidden; }
  .hov-img-zoom img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s; }
  .hov-img-zoom:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

/*[ Position ]
-----------------------------------------------------------
*/

/*[ Box Shadow ]
-----------------------------------------------------------
*/

/*[ Gradient ]
-----------------------------------------------------------
*/
.gradient1 {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); }

/*[ Hover ]
-----------------------------------------------------------
*/

/*[ Parallax ]
-----------------------------------------------------------
*/

/*=========================================================
RESPONSIVE  RESPONSIVE  RESPONSIVE  RESPONSIVE   RESPONSIVE
=========================================================*/
/*[ XL ]
-----------------------------------------------------------
*/
@media (max-width: 1200px) {
  .p-l-0-xl {
    padding-left: 0; } }
/*[ LG ]
-----------------------------------------------------------
*/
/*[ MD ]
-----------------------------------------------------------
*/
/*[ SM ]
-----------------------------------------------------------
*/
@media (max-width: 576px) {
  .flex-col-l-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start; } }

/*# sourceMappingURL=util.css.map */
