.bg1-pattern {
    background-image: url(../../images/textures/sackcloth-texture.jpg);
}

.image-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.image-select .item {
    margin: 8px;
}
